/* code */
/* https://github.com/rstudio/blogdown/blob/master/docs/02-hugo.Rmd */

pre, code {
	color: #508991;
	background-color: #fff;
}

pre {
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px #eee;
  padding: 0.25em;
  background: #fff;
  overflow-x: auto;
  border-radius: 0px; /*undo rounded corners*/
}

pre code {
  background: none;
  font-size: 0.8rem;
}

/*disable parallax for background image on mobile*/
@media only screen and (max-width:749px) {
  .parallax {
    background-attachment: inherit;
  }
}
